apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ object.issuer }}
    kubernetes.io/ingress.class: nginx
  name: {{ object.name }}
spec:
  rules:
  - host: {{ object.host }}
    http:
      paths:
      {% for path in object.paths %}
      - backend:
          serviceName: {{ path.serviceName }}
          servicePort: {{ path.servicePort }}
        path: {{ path.path }}
      {% endfor %}
  tls:
  - hosts:
    - {{ object.host }}
    secretName: {{ object.name }}-tls
